<ErrorBox>
    <ChildContent>
        <CascadingAuthenticationState>
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView Resource="@routeData" RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <p>You're not authorized to reach this page.</p>
                        </NotAuthorized>
                        <Authorizing>
                            <h3>Authentication in progress</h3>
                        </Authorizing>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Primary" Variant="Variant.Flat" Shade="Shade.Lighter">
                            <p role="alert">Sorry, there's nothing at this address.</p>
                        </RadzenAlert>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingAuthenticationState>
    </ChildContent>
</ErrorBox>

@code {

    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    async Task DismissClick()
    {
        errorBoundary?.Recover();
    }
}
