@typeparam TItem where TItem : Entity
@inherits DbContextPage

<div class="row">
    <div class="col-md-2">
        <RadzenLabel Text="@(Label ?? Component)" Component="@Component" />
    </div>
    <div class="col-md-10 d-flex align-items-center">
        <RadzenDropDown Data=@list
                        Value=@Value
                        ValueChanged=@ValueChanged
                        Name="@Component"
                        Placeholder="..."
                        TextProperty="@TextProperty"
                        Class="w-100" />

        @if (Required ?? false)
        {
            <RadzenRequiredValidator Component="@Component" Text="&nbsp;" />
        }
    </div>
</div>

@code {
    [Parameter]
    public TItem Value { get; set; }
    [Parameter]
    public EventCallback<TItem> ValueChanged { get; set; }

    [Parameter]

    public string? Component { get; set; }

    [Parameter]

    public string? Label { get; set; }

    [Parameter]

    public string TextProperty { get; set; } = "Name";

    [Parameter]
    public bool? Required { get; set; }


    public IList<TItem>? list { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        list = await DbContext.Set<TItem>().ToListAsync();

    }
}
